<h1>Your funds</h1>
<% @funds.each do |f| %>
    <p>
      <div>Name:</div>
        <div><%= f.name %></div>
    </p>
    <p>
      <div>Balance:</div>
        <div>$<%= f.balance %></div>
    </p>
    <p>
      <div>Age:</div>
        <div><%= f.age %> years</div>
    </p>
<% end %>

    <%# <p><a href="/funds/<%= f.id"><%= f.name %>
    <%# </a></p>  %>
