<h1>This is the Model's index page.</h1>
<% @funds.each do |f| %>
    <p><%= f.name %></p>
    <p><a href="/funds/<%= f.id %>"><%= f.name %></a></p>
    <p><a href="/funds/<%= f.id %>"><%= f.name %></a></p>
<% end %>